<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Restaurants by ID</title>
    <style>
    body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: url('./views/bg.jpg') center/cover no-repeat; */
  background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2.jpeg');
        background-repeat: no-repeat;
        
        background-attachment: fixed;
        background-position: center;
  overflow: hidden;
}

.content {
  position: relative;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  width: 400px;
  box-sizing: border-box;
overflow: hidden;
  background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        backdrop-filter: blur(4px);
  
        background-position: center;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.content::before {
  content: '';
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2.jpeg') center/cover no-repeat;
  filter: blur(10px); 
  backdrop-filter: blur(4px);
  z-index: -1; 
}
    h1 {
      color: #333;
    }

    form {
      margin-top: 20px;
    }

    label {
      display: block;
      margin-bottom: 8px;
      color: #333;
      font-weight: bold;
    }

    input {
      padding: 10px;
      margin-bottom: 15px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      padding: 12px;
      background-color: #cd762a;
      color: #fff;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 4px;
    }

    button:hover {
      background-color: #0988be;
    }

    p {
      margin-top: 20px;
      color: #555;
    }

    a {
      color: #3498db;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
    <div class="content">
    <h1>Search Restaurants by ID</h1>
    <form action="/restaurants/searchById" method="POST">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>
        <button type="submit">Search</button>
    </form>
    </div>
</body>
</html>
